*:focus {
    outline: none;
}

body {
    margin: 0;
    background: #222222;
}

/* Include the padding and border in an element's total width and height */
*{
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    width: 400px;
}

/* Style the list items */
ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #222222;
    font-size: 18px;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ui li.active {
    color: #f44336 !important;
}

/* Darker background-color on hover */
ul li:hover {
    background: #666666;
}

/* Style the close button */
.close { 
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.close:hover { 
    background-color: #f44336;
    color: #eeeeee;
}   

.init {
    display: inline-block;
    width: 50px;
    float: left;
    color: #eeeeee;
    font: Arial;
}

